Informedica.GenPres.Data/VolumeScenario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="PrescriptionVisibility">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Scenario" minOccurs="1" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SubstanceQuantityVisible" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>